

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 102;
    padding: 1rem !important;
}

header img {
    width: 100px;
    height: auto;
}

header .icon__menu {
    height: 30px;
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}


.icon__menu__line {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
}

header .icon__menu::before,
header .icon__menu::after {
    content: '';
    display: block;
    border-radius: 3px;
    width: 25px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 8;
    transition: 0.5s ease-in-out;

}


header .icon__menu::before {
    top: 35%;
    transform: translateY(-50%);
}

header .icon__menu::after {
    top: 55%;
    transform: translateY(50%);
}