.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.position-relative {
    position: relative !important;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.mock {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 70%;
    height: 300px;
    background: url('../img/molecular-abstract-network-dark-background-3d-il-2021-08-26-16-34-41-utc.jpg') no-repeat center;
    background-size: contain;
    z-index: -1;
}

@media only screen and (max-width: 720px) {
    .mock {
        width: 100%;
    }    
}